<?xml version="1.0" encoding="UTF-8"?>

<!--springmvc配置文件-->
<!--命名空间-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd"
>

    <!-- 注解扫描，开启spring注解扫描，扫描Controller-->
    <context:component-scan base-package="cn.itcast"/>
    <!-- 视图解析对象，HelloController返回success，要找到pages下面的jsp-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!-- 开启springMvc框架注解支持，扫描方法注解RequestMapping-->
    <mvc:annotation-driven/>

</beans>